body {
    margin: 0px;
}

#title {
    overflow: hidden;
    height: 300px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(-50deg, orange, pink); 
    color: white;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    font-weight: bolder;
    transition-duration: 0.2s;

}

@media screen and (max-width:650px){
    #title {
        font-size: 60px;
    }
}

#wave {
    cursor: grab;
    margin-left: 10px;
    transition-duration: 0.2s;
    animation: scale 1.5s ease;
}

@keyframes scale { /*scale with a delay*/
    0% {font-size: 0px;}
    70% {font-size: 0px;}
    100% {font-size: auto;}
}

#wave:hover {
    transform: scale(1.1) rotateZ(10deg);
    -ms-transform: scale(1.1) rotateZ(10deg);
}

#wave:active {
    transform: scale(0.9) rotateZ(-8deg);
    -ms-transform: scale(0.9) rotateZ(-8deg);
}
/* End Welcome Text */

